# Ethereum Sepolia
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=

# Creditcoin 3 (CC3) Testnet
CC3_TESTNET_RPC_URL=https://rpc.cc3-testnet.creditcoin.network
CC3_TESTNET_CHAIN_ID=102031
CC3_PRIVATE_KEY=

# Universal Smart Contract (USC) Prover API
USC_PROVER_API_URL=https://prover.cc3-testnet.creditcoin.network
