[submodule "contracts-sepolia/lib/forge-std"]
	path = contracts-sepolia/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts-creditcoin/lib/forge-std"]
	path = contracts-creditcoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts-sepolia/lib/openzeppelin-contracts"]
	path = contracts-sepolia/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
